.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    font-size: calc(5px + 2vmin);
    border-radius: 10px;
    padding: 10px 15px;
}
.cardt1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-size: calc(5px + 2vmin);
    border-radius: 5px;
    padding: 5px 7px;
}
.Title {
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid gray;
    margin: 10px auto;
    width: 70vw;
}

.skillContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.skillsContainerWrapper {
    width: 70vw;
    margin: 0 auto;
}

.skillsTitle {
    text-align: left;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px dashed;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}
.red {
    color: red;
}
.size3 {
    font-size: calc(15px + 2vmin);
}
.size1 {
    font-size: calc(10px + 1.5vmin);
}
.size0 {
    font-size: calc(1px + 1.5vmin);
}
.size00 {
    font-size: calc(6px + 1.2vmin);
}

.skillsTitleWrapper {
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .card {
        font-size: calc(5px + 2vmin);
        border-radius: 5px;
        padding: 5px 7px;
    }
    .size3 {
        font-size: calc(15px + 2vmin);
    }
    .size00 {
        font-size: calc(5px + 2vmin);
    }
}