.TOCContainer {
    width: 80vw;
    text-align: left;
    margin: 10px auto;
}

.TOCTitle {
    font-size: 18px;
    font-weight: bold;
}

.TOCLine {
    font-weight: bold;
    padding: 5px 0px;
}

.Question {
    padding: 20px 5px;
    background-color: lightblue;
    font-weight: bold;
    display: flex;
}

.Answer {
    padding: 10px 5px;
    text-align: justify;
}

.contentTitle {
    width: 100%;
    border-bottom: 1px solid powderblue;
    margin: 10px 0;
    font-weight: bold;
    color: indigo;
}